In [1]:
%matplotlib inline
import pylab as plt
import numpy as np
import pandas as pd


# Set some Pandas options
pd.set_option('html', False)
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)

## Pandas Data Structures

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [8]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [9]:
counts.values

array([ 632, 1638,  569,  115], dtype=int64)

In [10]:
counts.index

Int64Index([0, 1, 2, 3], dtype='int64')

We can assign meaningful labels to the index, if they are available:

In [11]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [12]:
bacteria['Actinobacteria']

569

In [13]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

In [14]:
[name.endswith('bacteria') for name in bacteria.index]

[False, True, True, False]

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [15]:
bacteria[0]

632

We can give both the array of values and the index meaningful labels themselves:

In [16]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: counts, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [17]:
np.log(bacteria)

phylum
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacteroidetes     4.744932
Name: counts, dtype: float64

We can also filter according to the values in the `Series`:

In [18]:
bacteria[bacteria>1000]

phylum
Proteobacteria    1638
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [19]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569, 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the `NaN` (not a number) type for missing values.

In [20]:
bacteria2 = pd.Series(bacteria_dict, index=['Cyanobacteria','Firmicutes','Proteobacteria','Actinobacteria'])
bacteria2

Cyanobacteria      NaN
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
dtype: float64

In [21]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [22]:
bacteria + bacteria2

Actinobacteria    1138
Bacteroidetes      NaN
Cyanobacteria      NaN
Firmicutes        1264
Proteobacteria    3276
dtype: float64

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [23]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [24]:
data[['phylum','value','patient']]

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

A `DataFrame` has a second index, representing the columns:

In [25]:
data.columns

Index([u'patient', u'phylum', u'value'], dtype='object')

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [26]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [27]:
data.value

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [28]:
type(data.value)

pandas.core.series.Series

In [29]:
type(data[['value']])

pandas.core.frame.DataFrame

Notice this is different than with `Series`, where dict-like indexing retrieved a particular element (row). If we want access to a row in a `DataFrame`, we index its `ix` attribute.

In [30]:
data.ix[3]

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

Alternatively, we can create a `DataFrame` with a dict of dicts:

In [31]:
data = pd.DataFrame({0: {'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    1: {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    2: {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    3: {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    4: {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    5: {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    6: {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    7: {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}})

In [32]:
data

                  0               1               2              3  \
patient           1               1               1              1
phylum   Firmicutes  Proteobacteria  Actinobacteria  Bacteroidetes
value           632            1638             569            115

                  4               5               6              7
patient           2               2               2              2
phylum   Firmicutes  Proteobacteria  Actinobacteria  Bacteroidetes
value           433            1130             754            555

We probably want this transposed:

In [33]:
data = data.T
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

Its important to note that the Series returned when a DataFrame is indexted is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [34]:
vals = data.value
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: object

In [35]:
vals[5] = 0
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: object

In [36]:
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [37]:
vals = data.value.copy()
vals[5] = 1000
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

We can create or modify columns by assignment:

In [38]:
data.value[3] = 14
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes    14
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

In [39]:
data['year'] = 2013
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes    14  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria     0  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

But note, we cannot use the attribute indexing method to add a new column:

In [40]:
data.treatment = 1
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes    14  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria     0  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

In [41]:
data.treatment

1

Specifying a `Series` as a new columns cause its values to be added according to the `DataFrame`'s index:

In [42]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [43]:
data['treatment'] = treatment
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [44]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

ValueError: Length of values does not match length of index

In [45]:
data['month'] = ['Jan']*len(data)
data

  patient          phylum value  year  treatment month
0       1      Firmicutes   632  2013          0   Jan
1       1  Proteobacteria  1638  2013          0   Jan
2       1  Actinobacteria   569  2013          0   Jan
3       1   Bacteroidetes    14  2013          0   Jan
4       2      Firmicutes   433  2013          1   Jan
5       2  Proteobacteria     0  2013          1   Jan
6       2  Actinobacteria   754  2013        NaN   Jan
7       2   Bacteroidetes   555  2013        NaN   Jan

We can use `del` to remove columns, in the same way `dict` entries can be removed:

In [46]:
del data['month']
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [47]:
data.values

array([[1, 'Firmicutes', 632, 2013L, 0.0],
       [1, 'Proteobacteria', 1638, 2013L, 0.0],
       [1, 'Actinobacteria', 569, 2013L, 0.0],
       [1, 'Bacteroidetes', 14, 2013L, 0.0],
       [2, 'Firmicutes', 433, 2013L, 1.0],
       [2, 'Proteobacteria', 0, 2013L, 1.0],
       [2, 'Actinobacteria', 754, 2013L, nan],
       [2, 'Bacteroidetes', 555, 2013L, nan]], dtype=object)

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [48]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df.values

array([[ 0.4,  1. ],
       [-1. ,  2. ],
       [ 4.5,  3. ]])

Pandas uses a custom data structure to represent the indices of Series and DataFrames.

In [49]:
data.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

Index objects are immutable:

In [50]:
data.index[0] = 15

TypeError: Indexes does not support mutable operations

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [51]:
bacteria2.index = bacteria.index

In [52]:
bacteria2

phylum
Firmicutes         NaN
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

This table can be read into a DataFrame using `read_csv`:

In [49]:
mb = pd.read_csv("data/microbiome.csv")
mb

         Taxon  Patient  Tissue  Stool
0   Firmicutes        1     632    305
1   Firmicutes        2     136   4182
2   Firmicutes        3    1174    703
3   Firmicutes        4     408   3946
4   Firmicutes        5     831   8605
5   Firmicutes        6     693     50
6   Firmicutes        7     718    717
7   Firmicutes        8     173     33
8   Firmicutes        9     228     80
9   Firmicutes       10     162   3196
..         ...      ...     ...    ...
65       Other        6     116      0
66       Other        7     527     12
67       Other        8     357     11
68       Other        9     106     11
69       Other       10      67     14
70       Other       11     203      6
71       Other       12     392      6
72       Other       13      28     25
73       Other       14      12     22
74       Other       15     305     32

[75 rows x 4 columns]

In [50]:
pd.read_csv("data/microbiome.csv", header=None).head()

            0        1       2      3
0       Taxon  Patient  Tissue  Stool
1  Firmicutes        1     632    305
2  Firmicutes        2     136   4182
3  Firmicutes        3    1174    703
4  Firmicutes        4     408   3946

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [51]:
mb = pd.read_table("data/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is unfortunately very common in some data formats: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [52]:
mb = pd.read_csv("data/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605

This is called a *hierarchical* index, which we will revisit later in the tutorial.

Conversely, if we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [54]:
pd.read_csv("data/microbiome.csv", nrows=4)

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [57]:
pd.read_csv("data/microbiome_missing.csv").head(20)

             Taxon  Patient Tissue  Stool
0       Firmicutes        1    632    305
1       Firmicutes        2    136   4182
2       Firmicutes        3    NaN    703
3       Firmicutes        4    408   3946
4       Firmicutes        5    831   8605
5       Firmicutes        6    693     50
6       Firmicutes        7    718    717
7       Firmicutes        8    173     33
8       Firmicutes        9    228    NaN
9       Firmicutes       10    162   3196
10      Firmicutes       11    372 -99999
11      Firmicutes       12   4255   4361
12      Firmicutes       13    107   1667
13      Firmicutes       14      ?    223
14      Firmicutes       15    281   2377
15  Proteobacteria        1   1638   3886
16  Proteobacteria        2   2469   1821
17  Proteobacteria        3    839    661
18  Proteobacteria        4   4414     18
19  Proteobacteria        5  12044     83

Above, Pandas recognized `NA` and an empty field as missing data.

In [58]:
pd.isnull(pd.read_csv("data/microbiome_missing.csv")).head(20)

    Taxon Patient Tissue  Stool
0   False   False  False  False
1   False   False  False  False
2   False   False   True  False
3   False   False  False  False
4   False   False  False  False
5   False   False  False  False
6   False   False  False  False
7   False   False  False  False
8   False   False  False   True
9   False   False  False  False
10  False   False  False  False
11  False   False  False  False
12  False   False  False  False
13  False   False  False  False
14  False   False  False  False
15  False   False  False  False
16  False   False  False  False
17  False   False  False  False
18  False   False  False  False
19  False   False  False  False

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [59]:
pd.read_csv("data/microbiome_missing.csv", na_values=['?', -99999]).head(20)

             Taxon  Patient  Tissue  Stool
0       Firmicutes        1     632    305
1       Firmicutes        2     136   4182
2       Firmicutes        3     NaN    703
3       Firmicutes        4     408   3946
4       Firmicutes        5     831   8605
5       Firmicutes        6     693     50
6       Firmicutes        7     718    717
7       Firmicutes        8     173     33
8       Firmicutes        9     228    NaN
9       Firmicutes       10     162   3196
10      Firmicutes       11     372    NaN
11      Firmicutes       12    4255   4361
12      Firmicutes       13     107   1667
13      Firmicutes       14     NaN    223
14      Firmicutes       15     281   2377
15  Proteobacteria        1    1638   3886
16  Proteobacteria        2    2469   1821
17  Proteobacteria        3     839    661
18  Proteobacteria        4    4414     18
19  Proteobacteria        5   12044     83

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

## Pandas Fundamentals

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [63]:
baseball = pd.read_csv("data/baseball.csv", index_col='id')
baseball.head()

          player  year  stint team  lg   g  ab  r   h  X2b  X3b  hr  rbi  sb  \
id
88641  womacto01  2006      2  CHN  NL  19  50  6  14    1    0   1    2   1
88643  schilcu01  2006      1  BOS  AL  31   2  0   1    0    0   0    0   0
88645  myersmi01  2006      1  NYA  AL  62   0  0   0    0    0   0    0   0
88649  helliri01  2006      1  MIL  NL  20   3  0   0    0    0   0    0   0
88650  johnsra05  2006      1  NYA  AL  33   6  0   1    0    0   0    0   0

       cs  bb  so  ibb  hbp  sh  sf  gidp
id
88641   1   4   4    0    0   3   0     0
88643   0   0   1    0    0   0   0     0
88645   0   0   0    0    0   0   0     0
88649   0   0   2    0    0   0   0     0
88650   0   0   4    0    0   0   0     0

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [64]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

                  player  year  stint team  lg   g  ab  r   h  X2b  X3b  hr  \
womacto012006  womacto01  2006      2  CHN  NL  19  50  6  14    1    0   1
schilcu012006  schilcu01  2006      1  BOS  AL  31   2  0   1    0    0   0
myersmi012006  myersmi01  2006      1  NYA  AL  62   0  0   0    0    0   0
helliri012006  helliri01  2006      1  MIL  NL  20   3  0   0    0    0   0
johnsra052006  johnsra05  2006      1  NYA  AL  33   6  0   1    0    0   0

               rbi  sb  cs  bb  so  ibb  hbp  sh  sf  gidp
womacto012006    2   1   1   4   4    0    0   3   0     0
schilcu012006    0   0   0   0   1    0    0   0   0     0
myersmi012006    0   0   0   0   0    0    0   0   0     0
helliri012006    0   0   0   0   2    0    0   0   0     0
johnsra052006    0   0   0   0   4    0    0   0   0     0

This looks okay, but let's check:

In [65]:
baseball_newind.index.is_unique

False

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [66]:
pd.Series(baseball_newind.index).value_counts()

wickmbo012007    2
gomezch022007    2
sweenma012007    2
claytro012007    2
hernaro012007    2
loftoke012007    2
trachst012007    2
wellsda012007    2
...
myersmi012007    1
alomasa022007    1
edmonji012007    1
sheffga012007    1
whiteri012007    1
cormirh012007    1
floydcl012007    1
embreal012007    1
Length: 88, dtype: int64

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [67]:
baseball_newind.ix['wickmbo012007']

                  player  year  stint team  lg   g  ab  r  h  X2b  X3b  hr  \
wickmbo012007  wickmbo01  2007      2  ARI  NL   8   0  0  0    0    0   0
wickmbo012007  wickmbo01  2007      1  ATL  NL  47   0  0  0    0    0   0

               rbi  sb  cs  bb  so  ibb  hbp  sh  sf  gidp
wickmbo012007    0   0   0   0   0    0    0   0   0     0
wickmbo012007    0   0   0   0   0    0    0   0   0     0

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [68]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

                     player  year  stint team  lg   g  ab  r   h  X2b  X3b  \
womacto01CHN2006  womacto01  2006      2  CHN  NL  19  50  6  14    1    0
schilcu01BOS2006  schilcu01  2006      1  BOS  AL  31   2  0   1    0    0
myersmi01NYA2006  myersmi01  2006      1  NYA  AL  62   0  0   0    0    0
helliri01MIL2006  helliri01  2006      1  MIL  NL  20   3  0   0    0    0
johnsra05NYA2006  johnsra05  2006      1  NYA  AL  33   6  0   1    0    0

                  hr  rbi  sb  cs  bb  so  ibb  hbp  sh  sf  gidp
womacto01CHN2006   1    2   1   1   4   4    0    0   3   0     0
schilcu01BOS2006   0    0   0   0   0   1    0    0   0   0     0
myersmi01NYA2006   0    0   0   0   0   0    0    0   0   0     0
helliri01MIL2006   0    0   0   0   0   2    0    0   0   0     0
johnsra05NYA2006   0    0   0   0   0   4    0    0   0   0     0

In [69]:
baseball_newind.index.is_unique

True

In [75]:
baseball.drop([89525, 89526])

          player  year  stint team  lg    g   ab   r    h  X2b  X3b  hr  rbi  \
id
88641  womacto01  2006      2  CHN  NL   19   50   6   14    1    0   1    2
88643  schilcu01  2006      1  BOS  AL   31    2   0    1    0    0   0    0
88645  myersmi01  2006      1  NYA  AL   62    0   0    0    0    0   0    0
88649  helliri01  2006      1  MIL  NL   20    3   0    0    0    0   0    0
88650  johnsra05  2006      1  NYA  AL   33    6   0    1    0    0   0    0
88652  finlest01  2006      1  SFN  NL  139  426  66  105   21   12   6   40
88653  gonzalu01  2006      1  ARI  NL  153  586  93  159   52    2  15   73
88662   seleaa01  2006      1  LAN  NL   28   26   2    5    1    0   0    0
89177  francju01  2007      2  ATL  NL   15   40   1   10    3    0   0    8
89178  francju01  2007      1  NYN  NL   40   50   7   10    0    0   1    8
...          ...   ...    ...  ...  ..  ...  ...  ..  ...  ...  ...  ..  ...
89497  clemero02  2007      1  NYA  AL    2    2   0    1    0    0   0    0
89498  claytro01  2007      2  BOS  AL    8    6   1    0    0    0   0    0
89499  claytro01  2007      1  TOR  AL   69  189  23   48   14    0   1   12
89501  cirilje01  2007      2  ARI  NL   28   40   6    8    4    0   0    6
89502  cirilje01  2007      1  MIN  AL   50  153  18   40    9    2   2   21
89521  bondsba01  2007      1  SFN  NL  126  340  75   94   14    0  28   66
89523  biggicr01  2007      1  HOU  NL  141  517  68  130   31    3  10   50
89530  ausmubr01  2007      1  HOU  NL  117  349  38   82   16    3   3   25
89533   aloumo01  2007      1  NYN  NL   87  328  51  112   19    1  13   49
89534  alomasa02  2007      1  NYN  NL    8   22   1    3    1    0   0    0

       sb  cs   bb   so  ibb  hbp  sh  sf  gidp
id
88641   1   1    4    4    0    0   3   0     0
88643   0   0    0    1    0    0   0   0     0
88645   0   0    0    0    0    0   0   0     0
88649   0   0    0    2    0    0   0   0     0
88650   0   0    0    4    0    0   0   0     0
88652   7   0   46   55    2    2   3   4     6
88653   0   1   69   58   10    7   0   6    14
88662   0   0    1    7    0    0   6   0     1
89177   0   0    4   10    1    0   0   1     1
89178   2   1   10   13    0    0   0   1     1
...    ..  ..  ...  ...  ...  ...  ..  ..   ...
89497   0   0    0    0    0    0   0   0     0
89498   0   0    0    3    0    0   0   0     2
89499   2   1   14   50    0    1   3   3     8
89501   0   0    4    6    0    0   0   0     1
89502   2   0   15   13    0    1   3   2     9
89521   5   0  132   54   43    3   0   2    13
89523   4   3   23  112    0    3   7   5     5
89530   6   1   37   74    3    6   4   1    11
89533   3   0   27   30    5    2   0   3    13
89534   0   0    0    3    0    0   0   0     0

[98 rows x 22 columns]

In [76]:
baseball.drop(['ibb','hbp'], axis=1)

          player  year  stint team  lg    g   ab   r    h  X2b  X3b  hr  rbi  \
id
88641  womacto01  2006      2  CHN  NL   19   50   6   14    1    0   1    2
88643  schilcu01  2006      1  BOS  AL   31    2   0    1    0    0   0    0
88645  myersmi01  2006      1  NYA  AL   62    0   0    0    0    0   0    0
88649  helliri01  2006      1  MIL  NL   20    3   0    0    0    0   0    0
88650  johnsra05  2006      1  NYA  AL   33    6   0    1    0    0   0    0
88652  finlest01  2006      1  SFN  NL  139  426  66  105   21   12   6   40
88653  gonzalu01  2006      1  ARI  NL  153  586  93  159   52    2  15   73
88662   seleaa01  2006      1  LAN  NL   28   26   2    5    1    0   0    0
89177  francju01  2007      2  ATL  NL   15   40   1   10    3    0   0    8
89178  francju01  2007      1  NYN  NL   40   50   7   10    0    0   1    8
...          ...   ...    ...  ...  ..  ...  ...  ..  ...  ...  ...  ..  ...
89499  claytro01  2007      1  TOR  AL   69  189  23   48   14    0   1   12
89501  cirilje01  2007      2  ARI  NL   28   40   6    8    4    0   0    6
89502  cirilje01  2007      1  MIN  AL   50  153  18   40    9    2   2   21
89521  bondsba01  2007      1  SFN  NL  126  340  75   94   14    0  28   66
89523  biggicr01  2007      1  HOU  NL  141  517  68  130   31    3  10   50
89525  benitar01  2007      2  FLO  NL   34    0   0    0    0    0   0    0
89526  benitar01  2007      1  SFN  NL   19    0   0    0    0    0   0    0
89530  ausmubr01  2007      1  HOU  NL  117  349  38   82   16    3   3   25
89533   aloumo01  2007      1  NYN  NL   87  328  51  112   19    1  13   49
89534  alomasa02  2007      1  NYN  NL    8   22   1    3    1    0   0    0

       sb  cs   bb   so  sh  sf  gidp
id
88641   1   1    4    4   3   0     0
88643   0   0    0    1   0   0     0
88645   0   0    0    0   0   0     0
88649   0   0    0    2   0   0     0
88650   0   0    0    4   0   0     0
88652   7   0   46   55   3   4     6
88653   0   1   69   58   0   6    14
88662   0   0    1    7   6   0     1
89177   0   0    4   10   0   1     1
89178   2   1   10   13   0   1     1
...    ..  ..  ...  ...  ..  ..   ...
89499   2   1   14   50   3   3     8
89501   0   0    4    6   0   0     1
89502   2   0   15   13   3   2     9
89521   5   0  132   54   0   2    13
89523   4   3   23  112   7   5     5
89525   0   0    0    0   0   0     0
89526   0   0    0    0   0   0     0
89530   6   1   37   74   4   1    11
89533   3   0   27   30   0   3    13
89534   0   0    0    3   0   0     0

[100 rows x 20 columns]

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [77]:
# Sample Series object
hits = baseball_newind.h
hits

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
seleaa01LAN2006       5
...
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, Length: 100, dtype: int64

In [78]:
# Numpy-style indexing
hits[:3]

womacto01CHN2006    14
schilcu01BOS2006     1
myersmi01NYA2006     0
Name: h, dtype: int64

In [79]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

womacto01CHN2006    14
schilcu01BOS2006     1
Name: h, dtype: int64

We can also slice with data labels, since they have an intrinsic order within the Index:

In [80]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
Name: h, dtype: int64

In [81]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

womacto01CHN2006    5
schilcu01BOS2006    5
myersmi01NYA2006    5
helliri01MIL2006    5
johnsra05NYA2006    5
finlest01SFN2006    5
gonzalu01ARI2006    5
seleaa01LAN2006     5
...
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, Length: 100, dtype: int64

In a `DataFrame` we can slice along either or both axes:

In [82]:
baseball_newind[['h','ab']]

                    h   ab
womacto01CHN2006    5   50
schilcu01BOS2006    5    2
myersmi01NYA2006    5    0
helliri01MIL2006    5    3
johnsra05NYA2006    5    6
finlest01SFN2006    5  426
gonzalu01ARI2006    5  586
seleaa01LAN2006     5   26
francju01ATL2007   10   40
francju01NYN2007   10   50
...               ...  ...
claytro01TOR2007   48  189
cirilje01ARI2007    8   40
cirilje01MIN2007   40  153
bondsba01SFN2007   94  340
biggicr01HOU2007  130  517
benitar01FLO2007    0    0
benitar01SFN2007    0    0
ausmubr01HOU2007   82  349
aloumo01NYN2007   112  328
alomasa02NYN2007    3   22

[100 rows x 2 columns]

In [83]:
baseball_newind[baseball_newind.ab>500]

                     player  year  stint team  lg    g   ab   r    h  X2b  \
gonzalu01ARI2006  gonzalu01  2006      1  ARI  NL  153  586  93    5   52
vizquom01SFN2007  vizquom01  2007      1  SFN  NL  145  513  54  126   18
thomafr04TOR2007  thomafr04  2007      1  TOR  AL  155  531  63  147   30
rodriiv01DET2007  rodriiv01  2007      1  DET  AL  129  502  50  141   31
griffke02CIN2007  griffke02  2007      1  CIN  NL  144  528  78  146   24
delgaca01NYN2007  delgaca01  2007      1  NYN  NL  139  538  71  139   30
biggicr01HOU2007  biggicr01  2007      1  HOU  NL  141  517  68  130   31

                  X3b  hr  rbi  sb  cs  bb   so  ibb  hbp  sh  sf  gidp
gonzalu01ARI2006    2  15   73   0   1  69   58   10    7   0   6    14
vizquom01SFN2007    3   4   51  14   6  44   48    6    1  14   3    14
thomafr04TOR2007    0  26   95   0   0  81   94    3    7   0   5    14
rodriiv01DET2007    3  11   63   2   2   9   96    1    1   1   2    16
griffke02CIN2007    1  30   93   6   1  85   99   14    1   0   9    14
delgaca01NYN2007    0  24   87   4   0  52  118    8   11   0   6    12
biggicr01HOU2007    3  10   50   4   3  23  112    0    3   7   5     5

The indexing field `ix` allows us to select subsets of rows and columns in an intuitive way:

In [84]:
baseball_newind.ix['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

h       5
X2b    52
X3b     2
hr     15
Name: gonzalu01ARI2006, dtype: object

In [85]:
baseball_newind.ix[['gonzalu01ARI2006','finlest01SFN2006'], 5:8]

                    g   ab   r
gonzalu01ARI2006  153  586  93
finlest01SFN2006  139  426  66

In [86]:
baseball_newind.ix[:'myersmi01NYA2006', 'hr']

womacto01CHN2006    1
schilcu01BOS2006    0
myersmi01NYA2006    0
Name: hr, dtype: int64

Similarly, the cross-section method `xs` (not a field) extracts a single column or row *by label* and returns it as a `Series`:

In [87]:
baseball_newind.xs('myersmi01NYA2006')

player    myersmi01
year           2006
stint             1
team            NYA
lg               AL
g                62
ab                0
r                 0
...
cs      0
bb      0
so      0
ibb     0
hbp     0
sh      0
sf      0
gidp    0
Name: myersmi01NYA2006, Length: 22, dtype: object

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years:

In [88]:
hr2006 = baseball[baseball.year==2006].xs('hr', axis=1)
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball[baseball.year==2007].xs('hr', axis=1)
hr2007.index = baseball.player[baseball.year==2007]

In [89]:
hr2006 = pd.Series(baseball.hr[baseball.year==2006].values, index=baseball.player[baseball.year==2006])
hr2007 = pd.Series(baseball.hr[baseball.year==2007].values, index=baseball.player[baseball.year==2007])

In [90]:
hr_total = hr2006 + hr2007
hr_total

player
alomasa02   NaN
aloumo01    NaN
ausmubr01   NaN
benitar01   NaN
benitar01   NaN
biggicr01   NaN
bondsba01   NaN
cirilje01   NaN
...
whiteri01   NaN
whitero02   NaN
wickmbo01   NaN
wickmbo01   NaN
williwo02   NaN
witasja01   NaN
womacto01   NaN
zaungr01    NaN
Length: 94, dtype: float64

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [91]:
hr_total[hr_total.notnull()]

player
finlest01     7
gonzalu01    30
johnsra05     0
myersmi01     0
schilcu01     0
seleaa01      0
dtype: float64

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [92]:
hr2007.add(hr2006, fill_value=0)

player
alomasa02     0
aloumo01     13
ausmubr01     3
benitar01     0
benitar01     0
biggicr01    10
bondsba01    28
cirilje01     0
...
whiteri01     0
whitero02     4
wickmbo01     0
wickmbo01     0
williwo02     1
witasja01     0
womacto01     1
zaungr01     10
Length: 94, dtype: float64

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [93]:
baseball.hr - baseball.hr.max()

id
88641   -34
88643   -35
88645   -35
88649   -35
88650   -35
88652   -29
88653   -20
88662   -35
...
89502   -33
89521    -7
89523   -25
89525   -35
89526   -35
89530   -32
89533   -22
89534   -35
Name: hr, Length: 100, dtype: int64

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [94]:
baseball.ix[89521]["player"]

'bondsba01'

In [95]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.xs(89521)
diff[:10]

        h  X2b  X3b  hr
id
88641 -80  -13    0 -27
88643 -93  -14    0 -28
88645 -94  -14    0 -28
88649 -94  -14    0 -28
88650 -93  -14    0 -28
88652  11    7   12 -22
88653  65   38    2 -13
88662 -89  -13    0 -28
89177 -84  -11    0 -28
89178 -84  -14    0 -27

We can also apply functions to each column or row of a `DataFrame`

In [96]:
stats.apply(np.median)

h      8
X2b    1
X3b    0
hr     0
dtype: float64

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [130]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

0       NaN
1        -3
2      None
3    foobar
dtype: object

In [131]:
foo.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Missing values may be dropped or indexed out:

In [132]:
bacteria2

phylum
Firmicutes         NaN
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

In [133]:
bacteria2.dropna()

phylum
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

In [134]:
bacteria2[bacteria2.notnull()]

phylum
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

By default, `dropna` drops entire rows in which one or more values are missing.

In [135]:
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

In [136]:
data.dropna()

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [137]:
data.dropna(how='all')

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [140]:
data.ix[7, 'year'] = np.nan
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555   NaN        NaN

In [141]:
data.dropna(thresh=4)

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

If we want to drop missing values column-wise instead of row-wise, we use `axis=1`.

In [142]:
data.dropna(axis=1)

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes    14
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [143]:
bacteria2.fillna(0)

phylum
Firmicutes           0
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

In [144]:
data.fillna({'year': 2013, 'treatment':2})

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013          2
7       2   Bacteroidetes   555  2013          2

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

In [145]:
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555   NaN        NaN

We can alter values in-place using `inplace=True`.

In [146]:
_ = data.year.fillna(2013, inplace=True)
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes    14  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria     0  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

Missing values can also be interpolated, using any one of a variety of methods:

In [147]:
bacteria2.fillna(method='bfill')

phylum
Firmicutes         632
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

In [148]:
bacteria2.fillna(bacteria2.mean())

phylum
Firmicutes         946.333333
Proteobacteria     632.000000
Actinobacteria    1638.000000
Bacteroidetes      569.000000
dtype: float64

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [149]:
baseball.sum()

player    womacto01schilcu01myersmi01helliri01johnsra05f...
year                                                 200692
stint                                                   113
team      CHNBOSNYAMILNYASFNARILANATLNYNTORTBAHOUARIATLM...
lg        NLALALNLALNLNLNLNLNLALALNLNLNLALNLNLNLNLALALNL...
g                                                      5238
ab                                                    13654
r                                                      1869
...
cs        46
bb      1549
so      2408
ibb      177
hbp      112
sh       138
sf       120
gidp     354
Length: 22, dtype: object

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [150]:
baseball.mean()

year     2006.92
stint       1.13
g          52.38
ab        136.54
r          18.69
h          35.82
X2b         7.39
X3b         0.55
hr          4.37
rbi        18.47
sb          1.38
cs          0.46
bb         15.49
so         24.08
ibb         1.77
hbp         1.12
sh          1.38
sf          1.20
gidp        3.54
dtype: float64

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [151]:
bacteria2

phylum
Firmicutes         NaN
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

In [152]:
bacteria2.mean()

946.33333333333337

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [153]:
bacteria2.mean(skipna=False)

nan

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [154]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.order(ascending=False)

id
88653    69
89439    57
89361    56
89462    55
89396    54
89489    54
89360    54
89371    50
...
89445    0
89388    0
89359    0
89355    0
89354    0
89480    0
89348    0
89420    0
Length: 100, dtype: int64

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [155]:
baseball.describe()

             year       stint           g          ab          r           h  \
count   100.00000  100.000000  100.000000  100.000000  100.00000  100.000000
mean   2006.92000    1.130000   52.380000  136.540000   18.69000   35.820000
std       0.27266    0.337998   48.031299  181.936853   27.77496   50.221807
min    2006.00000    1.000000    1.000000    0.000000    0.00000    0.000000
25%    2007.00000    1.000000    9.500000    2.000000    0.00000    0.000000
50%    2007.00000    1.000000   33.000000   40.500000    2.00000    8.000000
75%    2007.00000    1.000000   83.250000  243.750000   33.25000   62.750000
max    2007.00000    2.000000  155.000000  586.000000  107.00000  159.000000

              X2b         X3b          hr        rbi          sb          cs  \
count  100.000000  100.000000  100.000000  100.00000  100.000000  100.000000
mean     7.390000    0.550000    4.370000   18.47000    1.380000    0.460000
std     11.117277    1.445124    7.975537   28.34793    3.694878    1.067613
min      0.000000    0.000000    0.000000    0.00000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.00000    0.000000    0.000000
50%      1.000000    0.000000    0.000000    2.00000    0.000000    0.000000
75%     11.750000    1.000000    6.000000   27.00000    1.000000    0.000000
max     52.000000   12.000000   35.000000   96.00000   22.000000    6.000000

               bb          so         ibb        hbp          sh          sf  \
count  100.000000  100.000000  100.000000  100.00000  100.000000  100.000000
mean    15.490000   24.080000    1.770000    1.12000    1.380000    1.200000
std     25.812649   32.804496    5.042957    2.23055    2.919042    2.035046
min      0.000000    0.000000    0.000000    0.00000    0.000000    0.000000
25%      0.000000    1.000000    0.000000    0.00000    0.000000    0.000000
50%      1.000000    7.000000    0.000000    0.00000    0.000000    0.000000
75%     19.250000   37.250000    1.250000    1.00000    1.000000    2.000000
max    132.000000  134.000000   43.000000   11.00000   14.000000    9.000000

             gidp
count  100.000000
mean     3.540000
std      5.201826
min      0.000000
25%      0.000000
50%      1.000000
75%      6.000000
max     21.000000

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [156]:
baseball.player.describe()

count           100
unique           82
top       coninje01
freq              2
dtype: object

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [157]:
baseball.hr.cov(baseball.X2b)

69.076464646464629

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [158]:
baseball.hr.corr(baseball.X2b)

0.77906151825397507

In [159]:
baseball.ab.corr(baseball.h)

0.99421740362723787

In [160]:
baseball.corr()

           year     stint         g        ab         r         h       X2b  \
year   1.000000  0.004384 -0.050874 -0.001360 -0.023315  0.001151 -0.052917
stint  0.004384  1.000000 -0.257552 -0.216333 -0.209781 -0.206878 -0.196423
g     -0.050874 -0.257552  1.000000  0.935910  0.910262  0.929292  0.885847
ab    -0.001360 -0.216333  0.935910  1.000000  0.965609  0.994217  0.952249
r     -0.023315 -0.209781  0.910262  0.965609  1.000000  0.970560  0.923508
h      0.001151 -0.206878  0.929292  0.994217  0.970560  1.000000  0.957275
X2b   -0.052917 -0.196423  0.885847  0.952249  0.923508  0.957275  1.000000
X3b   -0.246099 -0.085821  0.518663  0.535986  0.500807  0.514245  0.493267
hr     0.060199 -0.209124  0.802014  0.843308  0.890060  0.855163  0.779062
rbi    0.042812 -0.205688  0.891563  0.947911  0.941483  0.952320  0.901751
sb     0.030480 -0.120837  0.492362  0.533536  0.596343  0.530018  0.413655
cs     0.058296 -0.055425  0.520923  0.577192  0.576454  0.571629  0.477487
bb     0.005626 -0.190301  0.828572  0.850803  0.915010  0.853384  0.780012
so     0.069610 -0.214121  0.866499  0.923926  0.879375  0.906966  0.862149
ibb    0.015868 -0.118580  0.514423  0.506398  0.588882  0.513009  0.453301
hbp   -0.000664 -0.195074  0.730161  0.767210  0.806523  0.767449  0.738226
sh    -0.012184 -0.091527  0.079361  0.094537 -0.001273  0.045533  0.005659
sf    -0.007282 -0.155662  0.767543  0.840361  0.839592  0.839737  0.819361
gidp   0.052131 -0.224173  0.863041  0.926632  0.894724  0.935525  0.906860

            X3b        hr       rbi        sb        cs        bb        so  \
year  -0.246099  0.060199  0.042812  0.030480  0.058296  0.005626  0.069610
stint -0.085821 -0.209124 -0.205688 -0.120837 -0.055425 -0.190301 -0.214121
g      0.518663  0.802014  0.891563  0.492362  0.520923  0.828572  0.866499
ab     0.535986  0.843308  0.947911  0.533536  0.577192  0.850803  0.923926
r      0.500807  0.890060  0.941483  0.596343  0.576454  0.915010  0.879375
h      0.514245  0.855163  0.952320  0.530018  0.571629  0.853384  0.906966
X2b    0.493267  0.779062  0.901751  0.413655  0.477487  0.780012  0.862149
X3b    1.000000  0.210028  0.369890  0.450421  0.384312  0.350682  0.408800
hr     0.210028  1.000000  0.948787  0.364346  0.345187  0.916774  0.865929
rbi    0.369890  0.948787  1.000000  0.394633  0.435011  0.893945  0.929410
sb     0.450421  0.364346  0.394633  1.000000  0.743921  0.491351  0.365841
cs     0.384312  0.345187  0.435011  0.743921  1.000000  0.425352  0.426658
bb     0.350682  0.916774  0.893945  0.491351  0.425352  1.000000  0.795751
so     0.408800  0.865929  0.929410  0.365841  0.426658  0.795751  1.000000
ibb    0.090993  0.673691  0.582982  0.209110  0.106152  0.792057  0.476613
hbp    0.217474  0.767411  0.780899  0.413570  0.337129  0.742118  0.742547
sh     0.187012 -0.145374 -0.054670  0.171910  0.293397 -0.044992  0.073624
sf     0.394987  0.782038  0.855260  0.412947  0.422146  0.760932  0.782314
gidp   0.411577  0.798350  0.906908  0.431198  0.456820  0.823631  0.846629

            ibb       hbp        sh        sf      gidp
year   0.015868 -0.000664 -0.012184 -0.007282  0.052131
stint -0.118580 -0.195074 -0.091527 -0.155662 -0.224173
g      0.514423  0.730161  0.079361  0.767543  0.863041
ab     0.506398  0.767210  0.094537  0.840361  0.926632
r      0.588882  0.806523 -0.001273  0.839592  0.894724
h      0.513009  0.767449  0.045533  0.839737  0.935525
X2b    0.453301  0.738226  0.005659  0.819361  0.906860
X3b    0.090993  0.217474  0.187012  0.394987  0.411577
hr     0.673691  0.767411 -0.145374  0.782038  0.798350
rbi    0.582982  0.780899 -0.054670  0.855260  0.906908
sb     0.209110  0.413570  0.171910  0.412947  0.431198
cs     0.106152  0.337129  0.293397  0.422146  0.456820
bb     0.792057  0.742118 -0.044992  0.760932  0.823631
so     0.476613  0.742547  0.073624  0.782314  0.846629
ibb    1.000000  0.431714 -0.075658  0.451377  0.572355
hbp    0.431714  1.000000 -0.104810  0.648882  0.700380
sh    -0.075658 -0.104810  1.000000 -0.002721  0.028924
sf     0.451377  0.648882 -0.002721  1.000000  0.785489
gidp   0.572355  0.700380  0.028924  0.785489  1.000000

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [161]:
mb.head()

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605

In [162]:
mb.sum(level='Taxon')

                Tissue  Stool
Taxon
Actinobacteria    6736   2263
Bacteroidetes     8995   4656
Firmicutes       10266  30477
Other             2982    519
Proteobacteria   44146  16369

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [163]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [164]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [165]:
pd.read_pickle("baseball_pickle")

          player  year  stint team  lg    g   ab   r    h  X2b  X3b  hr  rbi  \
id
88641  womacto01  2006      2  CHN  NL   19   50   6   14    1    0   1    2
88643  schilcu01  2006      1  BOS  AL   31    2   0    1    0    0   0    0
88645  myersmi01  2006      1  NYA  AL   62    0   0    0    0    0   0    0
88649  helliri01  2006      1  MIL  NL   20    3   0    0    0    0   0    0
88650  johnsra05  2006      1  NYA  AL   33    6   0    1    0    0   0    0
88652  finlest01  2006      1  SFN  NL  139  426  66  105   21   12   6   40
88653  gonzalu01  2006      1  ARI  NL  153  586  93  159   52    2  15   73
88662   seleaa01  2006      1  LAN  NL   28   26   2    5    1    0   0    0
89177  francju01  2007      2  ATL  NL   15   40   1   10    3    0   0    8
89178  francju01  2007      1  NYN  NL   40   50   7   10    0    0   1    8
...          ...   ...    ...  ...  ..  ...  ...  ..  ...  ...  ...  ..  ...
89499  claytro01  2007      1  TOR  AL   69  189  23   48   14    0   1   12
89501  cirilje01  2007      2  ARI  NL   28   40   6    8    4    0   0    6
89502  cirilje01  2007      1  MIN  AL   50  153  18   40    9    2   2   21
89521  bondsba01  2007      1  SFN  NL  126  340  75   94   14    0  28   66
89523  biggicr01  2007      1  HOU  NL  141  517  68  130   31    3  10   50
89525  benitar01  2007      2  FLO  NL   34    0   0    0    0    0   0    0
89526  benitar01  2007      1  SFN  NL   19    0   0    0    0    0   0    0
89530  ausmubr01  2007      1  HOU  NL  117  349  38   82   16    3   3   25
89533   aloumo01  2007      1  NYN  NL   87  328  51  112   19    1  13   49
89534  alomasa02  2007      1  NYN  NL    8   22   1    3    1    0   0    0

       sb  cs   bb   so  ibb  hbp  sh  sf  gidp
id
88641   1   1    4    4    0    0   3   0     0
88643   0   0    0    1    0    0   0   0     0
88645   0   0    0    0    0    0   0   0     0
88649   0   0    0    2    0    0   0   0     0
88650   0   0    0    4    0    0   0   0     0
88652   7   0   46   55    2    2   3   4     6
88653   0   1   69   58   10    7   0   6    14
88662   0   0    1    7    0    0   6   0     1
89177   0   0    4   10    1    0   0   1     1
89178   2   1   10   13    0    0   0   1     1
...    ..  ..  ...  ...  ...  ...  ..  ..   ...
89499   2   1   14   50    0    1   3   3     8
89501   0   0    4    6    0    0   0   0     1
89502   2   0   15   13    0    1   3   2     9
89521   5   0  132   54   43    3   0   2    13
89523   4   3   23  112    0    3   7   5     5
89525   0   0    0    0    0    0   0   0     0
89526   0   0    0    0    0    0   0   0     0
89530   6   1   37   74    3    6   4   1    11
89533   3   0   27   30    5    2   0   3    13
89534   0   0    0    3    0    0   0   0     0

[100 rows x 22 columns]

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.